// Place all the styles related to the Authorizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check-box{
	max-width: 20px !important; 
	height:15px !important;
	margin-top:0px !important;
	margin-left: 25% !important;

}